.product__buy{
    margin-top: 70px;
}
.product__buy_wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.product__buy_title {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainPage__bestsellers_dots{
    background: #00000033;
    width: 120px;
    height: 2px;
    display: flex;
}
.mainPage__bestsellers_dots span{
    width: 40px;
    height: 2px;
}
.active__dot{
    background:  #00000099 !important;
}
.product__buy_wrapper button{
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.left{
    left: -3%;
    top: 50%;
    transform: translate(0, -50%);
}
.right{
    right: -3%;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-width: 1300px) {
    .product__buy_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }

    .product__buy_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        margin-left: 10%;
    }
}
@media (max-width: 850px){
    .product__buy{
        margin-left: 10%;
        margin-right: 10%;
    }
}
