.container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0px 10px;
}

.catalog {
    display: flex;
    flex-direction: column;
}

.catalog__menu a{
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
    outline: none;
    text-decoration: none;
}

.catalog__menu {
    margin-bottom: 45px;
}

.catalog__content {
    display: flex;
    flex-wrap: wrap;
}

.catalog__item {
    width: 338px;
    height: 340px;
    background: #FFFFFF;
    border: 0.73913px solid rgba(255, 133, 20, 0.3);
}

.catalog__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 35px;
}

.catalog__item__img {
    text-align: center;
    height: 190px;
    margin-top: 30px;
}

.catalog__item__text,
.catalog__item__text__transmitter {
    font-size: 26.6087px;
    line-height: 36px;
    color: #272522;
    margin-left: 25px;
    margin-top: 25px;
}

.catalog__item__text__transmitter {
    color: #FF8514;
}

.catalog__item__arrow {
    margin-left: 21px;
    margin-top: 28px;
}

.catalog__item__bottom {
    display: flex;
    justify-content: space-between;
    margin-right: 42px;
}
