/*------------registration------------*/
.popups__registration {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 555px;
    height: 691px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.popups__registration__exit {
    display: flex;
    justify-content: flex-end;
    margin: 17px 29px 0 0;
}

.popups__registration__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #272522;
    text-align: center;
    margin-bottom: 47px;
}

.popups__registration__social {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.popups__registration__google {
    margin-right: 45px;
}

.popups__registration__input {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 20px;
    width: 473px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 41px 19px 41px;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.4);
}

.popups__registration__bottom {
    display: flex;
}

.popups__registration__confirm {
    margin-left: 54px;
}

.popups__registration__confirm__text {
    margin-left: 16px;
    vertical-align: middle;
}

.popups__registration__checkbox{
    display: none;
}
.popups__registration__checkbox + label{
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
}
.popups__registration__checkbox + label:before{
    font-size: 20px;
}

.popups__registration__checkbox +label:after {

}
.popups__registration__checkbox:checked + label{
    border: 2px solid #FF8514;
    background: url("../../../src/common/img/Registration__checkbox.png") no-repeat center;
}

.popups__registration__button {
    font-weight: bold;
    width: 473px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FF8514;
    border-radius: 15px;
    padding: 14px 71px;
    outline: none;
    border: none;
    margin: 31px 41px 20px 41px;
}

.popups__registration__button:hover {
    color: #FF8514;
    background: #FFFFFF;
    border: 3px solid #FF8514;
    padding: 12px 68px;
    cursor: pointer;
}

.popups__registration__text__bottom {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #FF8514;
    margin: 0 142px 79px 154px;
}

@media (max-width: 590px) {
    .popups__registration {
        width: 414px;
        height: 691px;
    }

    .popups__registration__input {
        width: 374px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .popups__registration__button {
        width: 373px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .popups__registration__text__bottom {
        margin-left: 75px;
        margin-right: 0;
    }

    .popups__registration__confirm {
        margin-left: 33px;
    }

    .popups__registration__confirm__text {
        font-size: 14px;
        line-height: 19px;
        margin-top: 6px;
    }
}

/*------------log in------------*/

.popups__log_in{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 555px;
    height: 617px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.popups__log_in__exit {
    display: flex;
    justify-content: flex-end;
    margin: 17px 29px 0 0;
}

.popups__log_in__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #272522;
    text-align: center;
    margin-bottom: 47px;
}

.popups__log_in__social {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.popups__log_in__google {
    margin-right: 45px;
}

.popups__log_in__input {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 20px;
    width: 473px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 41px 19px 41px;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.4);
}

.popups__log_in__button {
    font-weight: bold;
    width: 473px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FF8514;
    border-radius: 15px;
    padding: 14px 71px;
    outline: none;
    border: none;
    margin: 31px 41px 20px 41px;
}

.popups__log_in__button:hover {
    color: #FF8514;
    background: #FFFFFF;
    border: 3px solid #FF8514;
    padding: 12px 68px;
    cursor: pointer;
}

.popups__log_in__text__bottom {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #FF8514;
    margin: 0 133px 105px 134px;
}

.popups__log_in__text__pass {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FF8514;
    text-align: right;
    margin-right: 41px;
}

@media (max-width: 590px) {
    .popups__log_in {
        width: 414px;
        height: 617px;
    }

    .popups__log_in__input {
        width: 374px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .popups__log_in__button {
        width: 373px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .popups__log_in__text__bottom {
        margin-left: 63px;
        margin-right: 0;
    }
}

/*------------confirmation------------*/

.confirmation {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 447px;
    height: 390px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.popups__confirmation__exit {
    display: flex;
    justify-content: flex-end;
    margin: 17px 29px 0 0;
}

.popups__confirmation__img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.popups__confirmation__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FF8514;
    width: 340px;
    height: 90px;
    margin: 0 53px 0 54px;
}

/*------------user------------*/

.user {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 447px;
    height: 390px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.user__exit {
    display: flex;
    justify-content: flex-end;
    margin: 17px 29px 0 0;
}

.user__content__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.user__content {
    display: flex;
}

.user__content__top {
    display: flex;
    flex-direction: column;
}

.user__content__img {
    margin: 0 32px 37px 55px;
}

.user__content__location {
    display: flex;
    margin-top: 15px;
}

.user__content__location__img {
    margin-right: 10px;
}

.user__content__city {
    font-size: 18px;
    line-height: 25px;
    color: #FF8514;
}

.user__title {
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 55px;
    margin-bottom: 8px;
}

.user__text {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-left: 55px;
    margin-bottom: 36px;
}

/*------------password------------*/

.password {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 447px;
    height: 390px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.password__exit {
    display: flex;
    justify-content: flex-end;
    margin: 17px 29px 0 0;
}

.password__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin: 10px 124px 37px 124px;
}

.password__text {
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 89px 18px 49px;
}

.password__input {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 20px;
    width: 350px;
    height: 61px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 41px 19px 41px;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.4);
}

.password__button {
    font-weight: bold;
    width: 350px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FF8514;
    border-radius: 15px;
    padding: 14px 71px;
    outline: none;
    border: none;
    margin: 0 41px 20px 41px;
}

.password__button:hover {
    color: #FF8514;
    background: #FFFFFF;
    border: 3px solid #FF8514;
    padding: 12px 68px;
    cursor: pointer;
}

.password__text__bottom {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #FF8514;
    margin-left: 82px;
}

/*------------delivery------------*/

.delivery {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 313px;
    height: 315px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.delivery__exit {
    display: flex;
    justify-content: flex-end;
    margin: 17px 29px 0 0;
}

.delivery__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    text-align: center;
    margin-bottom: 4px;
}

.delivery__post {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-left: 22px;
    margin-top: 15px;
}

.delivery__text {
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-left: 22px;
    max-width: 236px;
}

/*------------review------------*/

.review {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 414px;
    height: 580px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.review__exit {
    display: flex;
    justify-content: flex-end;
    margin: 17px 29px 0 0;
}

.review__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 30px;
}

.review__name,
.review__city,
.review__review,
.review__rating {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 30px;
}

.review__name__input,
.review__city__input,
.review__name__review {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 10px;
    width: 354px;
    height: 55px;
    margin: 7px 30px 13px 30px;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 20px;
}

.review__name__review {
    width: 354px;
    height: 100px;
    resize: none;
    padding-top: 15px;
}

.review__button {
    font-weight: bold;
    width: 354px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FF8514;
    border-radius: 15px;
    padding: 14px 71px;
    outline: none;
    border: none;
    margin: 31px 41px 20px 41px;
}

.review__button:hover {
    color: #FF8514;
    background: #FFFFFF;
    border: 3px solid #FF8514;
    padding: 12px 68px;
    cursor: pointer;
}

.review__rating__star {
    margin-left: 30px;
    margin-top: 8px;
}

.review__rating__star img {
    width: 29px;
    height: 28px;
}

/*------------accepted__review------------*/

.accepted__review {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 414px;
    height: 334px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.accepted__review__exit {
    display: flex;
    justify-content: flex-end;
    margin: 17px 29px 0 0;
}

.accepted__review__item__img {
    margin-left: 30px;
    margin-right: 16px;
}

.accepted__review__content {
    display: flex;
}

.accepted__review__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.accepted__review__city {
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
}

.accepted__review__rating__star {
    margin: 10px 0 19px 30px;
}

.accepted__review__text {
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 30px;
    max-width: 364px;
}

.cart__popup{
    background-color: #fff;
    padding: 31px 52px 24px 33px;
    width: 100%;
}
.cart__popup_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.cart__popup_name{
    display: flex;
    align-items: center;
}
.cart__popup_name h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    margin-right: 18px;
}
.cart__popup_name span{
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    color: #00000099;
}
.cart__popup_filters{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.cart__popup_filters div:nth-child(1){
    display: flex;
}
.cart__popup_filters div:nth-child(1) span{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #000000E5;
    margin-left: 14px;
}
.cart__popup_filters div:nth-child(2) div span:nth-child(1){
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #000000E5;
}
.cart__popup_products{
    width: 65%;
}
.cart__popup_content>p{
    text-align: right;
    margin: 19px 0px 17px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #FF8514;
    text-decoration: underline;
}
.cart__product_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 15px 17px 0px;
    position: relative;
}
.cart__product_photo{
    width: 140px;
    height: 105px;
    margin-right: 10px;
}
.cart__product_delete{
    width: 20px;
    height: 20px;
}
.cart__product_name p:nth-child(1){
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #000000E5;
    margin-bottom: 14px;
}
.cart__product_name p:nth-child(2){
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #000000CC;
}
.cart__product_amount{
    margin-left: 21px;
}
.cart__product_amount button{
    border: none;
    width: 10px;
    height: 10px;
    background: #F3F3F3;
}
.cart__product_amount span{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #272522;
    margin: 0 18px;
}
.cart__product_price{
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: #272522;
    margin: 0px 60px 0px 50px;
}
.cart__product_delete{
    position: absolute;
    top: 0;
    right: 0;
}
.cart__popup_template{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.cart__popup_info{
    padding: 28px 0px 132px 29px;
    background-color: #fff;
    width: 35%;
}
.cart__popup_info h5{
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 50px;
}
.cart__product_info_block p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cart__product_info_block p span:nth-child(1){
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #000000E5;
    width: 40%;
}
.cart__product_info_block p span:nth-child(2){
    width: 60%;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}
.cart__product_info_block p:nth-child(3) span{
    color: #000000B2;
    margin-bottom: 30px ;
}
.cart__product_button{
    width: 311px;
    height: 48px;
    background-color: #FF8514;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    border-radius: 15px;
}
