
.about__advantages {
    background: #FFFFFF;
    width: 100%;
    margin: 0;
}

.about__advantages__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 14%;
}

.about__advantages__nav {
    display: flex;
    justify-content: space-evenly;
}

.about__advantages__nav ul {
    display: flex;
    flex-direction: column;

}

.about__advantages__nav li{
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 20px;
    max-width: 506px;
    list-style: none;
    background: url("/src/common/img/about__advantages__check.png") no-repeat;
    background-size: 35px 35px;
    height: 35px;
    padding-left: 40px;
}

@media (max-width: 1150px) {
    .about__advantages__nav {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    .about__advantages__title {
        margin-left: 5%;
    }

    .about__advantages {
        height: 588px;
    }

    .about__advantages__nav li{
        margin-bottom: 35px;
    }
}