.about__main {
    display: flex;
    flex-wrap: wrap;
}

.about__main__content {
    display: flex;
    flex-wrap: wrap;
}

.about__main__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #272522;
    margin-top: 20px;
    margin-bottom: 40px;
}

.about__main__content__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #272522;
}

.about__main__content__text{
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    max-width: 636px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.about__main__content__column1 {
    padding-right: 20px;
}

.about__main__content__img {
    padding-bottom: 40px;
}

@media (max-width: 1360px) {
    .about__main {
        margin-left: 5%;
    }
}

@media (max-width: 950px) {
    .about__main {
        margin-left: 5%;
    }

    .about__main__title {
        display: none;
    }
}
