
.mainPage__OurClientsrecommend_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
}

.mainPage__OurClientsrecommend_h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #272522;
    margin-bottom: 49px;
    margin-top: 60px;
}

.mainPage__bestsellers_btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.mainPage__bestsellers_btn a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FF8514;
    padding: 10px 50px;
    border: 3px solid #FF8514;
    box-sizing: border-box;
    border-radius: 15px;
    text-decoration: none;
}

.mainPage__bestsellers_btn a:hover {
    color: #FFFFFF;
    background: #FF8514;
}

.mainPage__clients_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPage__bestsellers_dots{
    background: #00000033;
    width: 120px;
    height: 2px;
    display: flex;
}
.mainPage__bestsellers_dots span{
    width: 40px;
    height: 2px;
}
.active__dot{
    background:  #00000099 !important;
}
.mainPage__OurClientsrecommend_wrap button{
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.left{
    left: -3%;
    top: 50%;
    transform: translate(0, -50%);
}
.right{
    right: -3%;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-width: 1200px) {
    .mainPage__ourClientsrecommend {
        margin: 0 5%;
    }

    .mainPage__bestsellers_dots {
        display: none;
    }

    .mainPage__clients_title h1{
        font-size: 22px;
        line-height: 30px;
    }

    .left{
        display: none;
    }
    .right{
        display: none;
    }
}
