.wrapper{
    position: absolute;
    z-index: 1000000;
    height: 100vh;
    min-height: 700px;
    display: flex;
}

.modal_container {
    display: flex;
    text-align: left;
}

.wrapper {
    left: 0;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}
.move_left {
    animation: moveLeft 1s ease-in forwards, fadeIn 0.5s 0s ease-in forwards;
}

.move_up {
    animation: moveUp 1s ease-out forwards, fadeOut 0.5s 0s ease-out forwards;
}

@keyframes moveLeft {
    to {
        transform: translate(0, 0);
    }
}
@keyframes moveUp {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, -100%);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
