/*-------------about__background-------------*/

* {
    font-family: Open Sans;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0px 10px;
}

@media (max-width: 1360px) {
    .container{
        padding: 0;
    }
}


