.about__background {
    background: url("/src/common/img/About__background.png") no-repeat bottom;
    height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about__top__text {
    margin-top: 3%;
}

.about__price {
    display: flex;
}

.about__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 115%;
    color: #FFFFFF;
    max-width: 450px;
}

.about__price__text,
.about__price__text2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #9E9E9E;
    margin-top: 20px;
}

.about__price__line {
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
}

.about__gift {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #FFC60B;
    max-width: 250px;
    margin-top: 20px;
}


@media (max-width: 1400px) {
    .container{
        margin-left: 5%;
    }
}

@media (max-width: 1100px) {
    .about__title {
        font-size: 20px;
        line-height: 115%;
    }

    .about__price__text,
    .about__price__text2 {
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .about__top__text {
        margin-right: 5%;
        margin-top: 15%;
    }

    .about__price__line {
        margin-top: 4%;
    }

    .about__price__line img{
        width: 10px;
    }
}
