.product__feedback_card{
    width: 24%;
    font-family: "Open Sans";
    height: 276px;
    padding: 18px 19px 19px 27px;
    background: #FFFFFF;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    box-sizing: border-box;
}
.feedback__profile{
    display: flex;
    margin-bottom: 10px;
}
.profile__info{
    margin-left: 16px;
}
.profile__info div:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}
.profile__info div:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    color: #000000B2;
}
.feedback__stars{
    margin-bottom: 10px;
}
.feedback__content{
    font-size: 16px;
    font-weight: 400;
    color: #000000CC;
}
