.product__block{
    display: flex;
    font-family: "Open Sans";
    margin-top: 42px;
}
.product__content{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0px 8px;
}
.product__feedback{
    display: flex;
    align-items: center;
}
.product__feedback span{
    font-size: 16px;
    color: #00000080;
    font-weight: 400;
    margin-left: 10px;
}
.product__info{
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-wrap: wrap;
    margin-left: 22px;
}
.product__chars{
    width: 50%;
}
.product__chars_title{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}
.product__chars_list p{
    display: flex;
    font-size: 16px;
}
.product__chars_list p div:nth-child(2){
    font-weight: 600;
}
.product__chars_list p div:nth-child(1){
    font-weight: 400;
    font-size: 14px;
    width: 40%;
    color: rgba(0, 0, 0, 0.7);
}
.product__chars_list p div{
    margin-top: 22px;
}
.product__delivery{
    width: 313px;
    height: 315px;
    padding: 30px 22px 28px ;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    box-sizing: border-box;
}
.product__delivery h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}
.product__delivery_type p:nth-child(2){
    margin-bottom: 7px;
}
.product__delivery_type p:nth-child(3){
    margin-bottom: 21px;
}
.product__delivery_post p:nth-child(2){
    margin-bottom: 7px;
}
.product__delivery_post p:nth-child(3){
    margin-bottom: 28px;
}
.product__delivery_title{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
}
.product__cost{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 46px;
}
.product__cost div{
    display: flex;
    align-items: center;
}
.product__cost div span:nth-child(1){
    font-size: 14px;
    font-weight: 400;
}
.product__cost div span:nth-child(2){
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    margin-left: 20px;
}
.product__cost button:nth-child(2) {
    font-size: 20px;
    color: #FF8514;
    border-radius: 15px;
    border: 3px solid #FF8514;
    padding: 10px 34px 10px 40px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.product__cost button:nth-child(2) svg{
    margin-right: 16px;
}
.product__cost button:nth-child(2) svg path{
    stroke:  #FF8514;
}
.product__cost button:nth-child(3) {
    font-size: 20px;
    color: #FFF;
    border-radius: 15px;
    padding: 10px 67px;
    font-weight: 700;
    border: none;
    background-color:  #FF8514;
}
.product__gallery_photos{
    margin-top: 30px;
    position: relative;
}
.product__gallery_photo {
    width: 137px;
    height: 103px;
    cursor: pointer;
}
.product__gallery_photo:nth-child(2){
    margin-right: 37px;
}
.product__gallery_photos button{
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.product__gallery_photos button:nth-child(1){
    left: -12%;
    top: 50%;
    transform: translate(50%,-50%);
}
.product__gallery_photos button:nth-child(4){
    left: 70%;
    top: 50%;
    transform: translate(50%,-50%);
}
