* {
  margin: 0;
  font-family: "Open Sans";
}
.container{
  max-width: 1360px;
  margin: 0 auto;
  padding: 0px 10px;
}

body {
background: #E5E5E5;
}

.whiteBackgroud {
width: 100%;
background: #FFFFFF;
}
